.cookieDisclaimer {
    position: fixed;
    background-color: $DarkNight;
    min-height: 15em;
    width: 100vw;
    max-width: 375px;
    left: 0px;
    bottom: 0px;
    @include flexCol();
    align-items: center;
    z-index: 2;
    .greenLine {
        background-color: $Slime;
        width: 95%;
        height: 2px;
        margin-top: 0.5em;
    }
    p {
        color: $PaleGhost;
        text-align: center;
        margin: -1em 1em 0 1em;
        
        span {
            color: $Slime;
            cursor: pointer;
        }
    }
    .cookieButtons {
        display: flex;
        justify-content: space-between;
        width: 90%;
        img {
            width: 9.5em;
            margin-top: 1.5em;
            cursor: pointer;
        }
        .accept {
            position: absolute;
            bottom: 3.2em;
            left: 2.9em;
            cursor: pointer;
            color: $DarkNight;
        }
        .decline {
            position: absolute;
            right: 3em;
            bottom: 3.2em;
            color: $DarkNight;
        }
    }
    
}