h1 {
    font-family: "Creepster";
    line-height: 1.5;
    color: $PaleGhost;
    font-size: 4rem;
    font-weight: 400;
}

h2{
    font-family: "Chelsea Market";
    line-height: 1.5;
    color: $Pumpkin;
    font-size: 1.25rem;
    font-weight: 400;
}

h3, h4, h5, h6{
    font-family: "Chelsea Market";
    line-height: 1.5;
    color: $Pumpkin;
    font-weight: 400;
}

p {
    font-family: "Thasadith";
    font-size: 1.25rem;
    font-weight: 400;
}

li {
    font-family: "Chelsea Market";  
    font-size: 1.25em;
    font-weight: 400;
}