@keyframes bounce {
    50% {
        transform: translateY(-1em);
    }
}

footer {
    @include flexCenter();
    background-color: $DarkNight;
    justify-content: space-around;
    padding: 4rem 3rem 1.5rem 3rem;
    div {
        width: 16em;
        @include flexCenter();
        justify-content: space-between;
        img {
        width: 75px;
        cursor: pointer;
        animation-duration: 0.75s;
        animation-timing-function: ease-in-out;
        animation-iteration-count: infinite;
        &:hover {
            animation-name: bounce;
            }
        }
    } 
}